body {
    background-image: url('assets/ASCII-Art-Night-Sky.png');
    background-repeat: repeat;
    background-color: black;
	color: #00ff00;
	font-family: 'IBM Plex Mono', 'Courier New', monospace;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/* Link settings */
a:link {
	color: yellow;
	text-decoration: none;

}
a:visited {
	color: yellow;
	text-decoration: none;

} 
a:hover {
	color: red;
	text-decoration: underline;
}
/* Box settings */
.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #00ff00;
	background-color: black;
}

.projects, .blogs {
	border: 1px solid #00ff00;
	padding: 10px;
	margin: 20px auto;
}

.description {
	padding: 10px;
	border: 1px solid #00ff00;
	margin: 10px 0;
	background-color: #2A0A5C;
	color: white;
}
/* Header settings */
header {
	border-bottom: 1px solid #00ff00;
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	margin: 0;
	font-size: 40px;
	color: #00ff00;
	font-family: "Jersey 10", sans-serif;
}

header img {
	width: 60px;
	height: 60px;
}

/* Navigation settings */
nav {
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 5px 5px;
}

/* Main settings */
main {
	margin-bottom: 20px;
}

.post {
	color: white;
	border: 1px solid #00ff00;
	padding: 10px;
	margin-bottom: 20px;
	min-height: 100px;
}

.post h2{
	color: #00ff00;
}

.blogs, .projects {
	margin-bottom: 20px;
}

/* Footer Styling */
footer {
	border-top: 1px solid #00ff00;
	padding-top: 10px;
	text-align: center;
	
}

footer p {
	margin: 0;
	font-size: 14px;
	color: #00ff00;
}

/* Pikachu Highlighting */
#pikachu {
	cursor: pointer;
	filter: drop-shadow(0 0 10px orange);
	transition: transform 0.2s ease;
}  
#pikachu:hover {
	transform: scale(1.1);
}